body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #000000;
    background-color: rgb(238, 238, 238);
}

#banner {
    border-bottom: 1px solid lightgray;
}

#banner h1 {
    font-family: 'Lily Script One', cursive;
    background-color: rgb(255, 255, 255);
    color: rgb(100, 100, 100);
    font-size: 2em;
    padding: 20px;
}

footer p {
    font-size: 0.80em;
    font-style: italic;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 20px 5px 20px;
    border-top: 1px solid lightgray;
    display: none;
}
nav a {
    text-decoration: none;
    font-size: 1.3em;
    color: rgb(209, 200, 200);
}

nav ul li {
    display: inline;
    padding-right: 10px;
}

article {
    border: 1px solid rgb(99, 96, 96);
    margin: 5px;
    float: left;
    width: 200px;
    padding: 5px;
}

article header h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

article {
    border: 1px solid lightgray;
    margin: 20px 5px;
    float: left;
    width: 250px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
       
    -webkit-box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    2px 2px 1px rgba(50, 50, 50, 0.1);
    box-shadow:         2px 2px 1px rgba(50, 50, 50, 0.1);
}

article ul li {
    background-color: white;
    border: 1px solid lightgray;
    margin: 20px 0 10px 0;
    padding: 10px 5px;
    
}

article footer a {
    text-decoration: none;
    color: lightgray;
    font-size: 1.2em;
}

article footer textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: lightgray;
}