@import url(http://fonts.googleapis.com/css?family=Lily+Script+One);

body {
    font-size: 15px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: rgb(100, 100, 100);
    background-color: rgb(238, 238, 238);
}

button {
    border-style: none;
    padding: 5px 10px;
    width: 75px;
    font-size: 1em;
    vertical-align: bottom;
}

#new-area input {
    font-size: 1.5em;
    margin: 0 10px;
    padding: 0 5px;
    vertical-align: top;
}

.load-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8)
                url('images/load.gif')
                50% 50%
                no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .load-modal {
    display: block;
}


#banner {
    border-bottom: 1px solid lightgray;
}

#banner h1 {
    font-family: 'Lily Script One', cursive;
    background-color: rgb(255, 255, 255);
    color: rgb(100, 100, 100);
    font-size: 36px;
    padding: 20px;
}

footer p {
    font-size: 0.80em;
    font-style: italic;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
}

nav {
    background-color: black;
    padding: 10px 5px 10px;
    overflow: hidden;
    height: 30px;
}
nav a {
    text-decoration: none;
    font-size: 26px;
    color: lightgray;
    vertical-align: top;
    font-family: "Segoe UI Light", Verdana, Helvetica, Sans-Serif;
}

nav ul li {
    display: inline;
    padding-right: 10px;
    margin-left:  10px;
}

article header h1 {
    font-size: 26px;
    margin-bottom: 20px;
    font-family: "Segoe UI Light", Verdana, Helvetica, Sans-Serif;
}

article {
    border: 1px solid lightgray;
    margin: 20px 5px;
    float: left;
    width: 250px;
    padding: 12px;
    background-color: rgb(255, 255, 255);
       
    -webkit-box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    2px 2px 1px rgba(50, 50, 50, 0.1);
    box-shadow:         2px 2px 1px rgba(50, 50, 50, 0.1);
}

article ul li {
    background-color: white;
    border: 1px solid lightgray;
    margin: 12px 0;
    padding: 6px 12px;
    
    line-height: 120%;
}

article footer a {
    text-decoration: none;
    color: lightgray;
    font-size: 1.2em;
}

article footer textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: lightgray;
    margin: 6px 0;
}

#repair {
    padding: 10px;
    text-align:center;
    font-style: italic;
}

#repair h2 {
    font-size: 1.5em;
    padding-bottom: 10px;
    font-weight: bold;
}