@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    padding-top: 60px;
    overflow: scroll;
}

#areas {
    padding: 12px;
}

.navbar-text.navbar-right:last-child {
    margin-right: 15px;
}

.area-form {
    width: 75%;
    margin: 0 auto;
}

.card-form {
    width: 75%;
    margin: 0 auto;
}

.label {
    margin-right: 3px;
}

.link {
}

.link-unstyled {
    color: black;
}

.link-unstyled:hover {
    color: black;
    text-decoration: none;
}
