@{
    ViewBag.Title = "Edit";
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/editarea")
}

<section class="edit-section" data-areaid="@ViewBag.AreaID" data-bind="with: area" >
    <section class="edit-form">
        <header>
            <h1>
                <input type="text" data-bind="value: Name" />
            </h1>
        </header>
        <button data-bind="click: $root.updateArea">Save</button>
    </section>
</section>

