@{
    ViewBag.Title = "Areas";
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/areas")
}

<nav>
    <ul>
        <li>
            <a href="#" data-bind="click: showArea">+ Area</a>
            <span id="new-area">
                <input type="text" data-bind="value: newArea"/>
                <button data-bind="click: addArea">Add</button>
            </span>
        </li>
    </ul>
</nav>

<section data-bind="foreach: areas">
    <article data-bind="attr: { 'data-areaid': ID }">
        <header>
            <h1 data-bind="text: Name"></h1>
        </header>
        <ul data-bind="foreach: Cards">
            <li data-bind="text: Name"></li>
        </ul>
        <footer>
            <a href="#">Add card...</a>
            <div>
                <textarea></textarea>
                <button data-bind="click: $parent.addCard">Add</button>
            </div>
        </footer>
    </article>
</section>
