@{
    ViewBag.Title = "Areas";
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/areas")
}

<section data-bind="foreach: Areas">
    <article>
        <header>
            <h1 data-bind="text: Name"></h1>
        </header>
        <ul data-bind="foreach: Cards">
            <li data-bind="text: Name"></li>
        </ul>
        <footer>
            <a href="#">Add card...</a>
            <div>
                <textarea></textarea>
                <button>Add</button>
            </div>
        </footer>
    </article>
</section>
