@{
    ViewBag.Title = "Edit";
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/editcard")
}

<section class="edit-section" data-cardid="@ViewBag.CardID" data-bind="with: card" >
    <section class="edit-form">
        <header>
            <h1>
                <textarea data-bind="value: Name" ></textarea>
            </h1>
        </header>
        <button data-bind="click: $root.updateCard">Save</button>
    </section>
</section>
