@{
    ViewBag.Title = "Edit";
}

@section scripts {
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/editcard")
}

<section class="edit-section" data-cardid="@ViewBag.CardID" data-bind="with: card" >
    <section class="edit-form">
        <header>
            <h1>
                <textarea data-bind="value: Name" ></textarea>
            </h1>
            
        </header>
        <div class="form-details">
            <span>Description</span>
            <textarea data-bind="value: Description" ></textarea>
            <span>Due Date</span>
            <input type="text" data-bind="value: DueDateText" />
        </div>
        <div class="action-buttons">
            <button data-bind="click: $root.updateCard">Save</button>
            <button data-bind="click: $root.deleteCard">Delete</button>
        </div>
        <div class="clear" ></div>
    </section>
</section>
