@{
    ViewBag.Title = "About";
}

@section scripts {
    @Scripts.Render("~/bundles/about")
    @Scripts.Render("~/bundles/knockout")
}

<div data-bind="foreach: me">
    <p>Hi I am <span data-bind="text: firstname"></span>, number 4.</p>
</div>
