@{
ViewBag.Title = "Index";
}
<section id="dashboard">
	<header><h1>Today in cards</h1></header>

	<div>
		<ul>
			<li>
				<span class='dashboard-number'>2</span>
				<span>new items</span>
			</li>
			<li>
				<span class='dashboard-number'>3</span>
				<span>aged</span>
			</li>
			<li>
				<span class='dashboard-number'>3</span>
				<span>stale items</span>
			</li>
			<li>
				<span class='dashboard-number'>2</span>
				<span>todo</span>
			</li>
			<li>
				<span class='dashboard-number'>3</span>
				<span>doing</span>
			</li>
			<li>
				<span class='dashboard-number'>4</span>
				<span >done</span>
			</li>
			<li>
				<span class='dashboard-number'>4</span>
				<span>assigned to you</span>
			</li>
		</ul>
	</div>
</section>
