@{
    ViewBag.Title = "Under Construction";
}

<h2>Site under repair</h2>
<p>
    The whales are still going to north pole to ask santa for materials.
</p>
<p>
    Visit project's page at <a href="http://github.com/netxph/cards">http://github.com/netxph/cards</a>.
</p>