@{
    ViewBag.Title = "Labels";
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/labels")
}

<section class="edit-section">
    <section class="edit-form">
        <section id="labels-delete">
	        <header>
		        <h1>manage existing...</h1>
	        </header>
	        <ul id="labels-big" data-bind="foreach: labels">
		        <li>
		            <span data-bind="text: Name, attr: { 'data-color': Color }"></span>
		            <button data-bind="click: $root.deleteLabel">Delete</button>
		        </li>
	        </ul>
        </section>

        <section id="labels-add">
            <header>
		        <h1>add new...</h1>
	        </header>
            <form action="POST" data-bind="with: newLabel">
		        <span>Name</span>
		        <input type="text" data-bind="value: Name"></input>
		        <span>Color</span>
		        <input type="text" data-bind="value: Color"></input>
		        <button data-bind="click: $root.addLabel">Add</button>
	        </form> 
        </section>
        	
    </section>
</section>
