@{
    ViewBag.Title = "Labels";
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/labels")
}

<section>
	<header>
		<h1>Labels</h1>
	</header>
	<ul id="labels-big" data-bind="foreach: labels">
		<li>
		<span data-bind="text: Name, attr: { 'data-color': Color }"></span>
		<button>Delete</button>
		</li>
	</ul>

	<form action="POST">
		<span>Name</span>
		<input type="text"></input>
		<span>Color</span>
		<input type="text"></input>
		<button>Add</button>
	</form> 
</section>
