<section>
	<header>
		<h1>Labels</h1>
	</header>
	<ul>
		<li>
		<span data-color="Red">Bug</span>
		<button>Delete</button>
		</li>
		<li>
		<span data-color="Pink">Issue</span>
		<button>Delete</button>
		</li>
		<li>
		<span data-color="Blue">Enhancement</span>
		<button>Delete</button>
		</li>
		<li>
		<span data-color="Orange">Experiment</span>
		<button>Delete</button>
		</li>
		<li>
		<span data-color="Violet">For Review</span>
		<button>Delete</button>
		</li>
	</ul>

	<form action="POST">
		<span>Name</span>
		<input type="text"></input>
		<span>Color</span>
		<input type="text"></input>
		<button>Add</button>
	</form> 
</section>
