<div class="form-group"> 
    <label for="card-area-id">Area ID</label>
    <select class="form-control" ng-model="card.areaID" ng-options="a.id as a.name for a in areas"></select>
</div>

<div class="form-group" ng-class="{'has-error': !cardForm.name.$valid && cardForm.name.$dirty }"> 
    <label for="card-name">Name</label>
    <input type="text" id="card-name" name="name" class="form-control" placeholder="Enter name for card" ng-model="card.name" required></input>
</div>

<div class="form-group" >
<span ng-repeat="label in getLabels(card.name)" class="label label-info">{{label}}</span>
</div>

<div class="form-group"> 
    <label for="card-description">Description</label>
    <textarea id="card-description" class="form-control" ng-model="card.description"></textarea>
</div>

<div class="form-group"> 
    <label for="card-assigned-to">Assigned To</label>
    <input type="text" id="card-assigned-to" class="form-control" placeholder="Enter user assigned to" ng-model="card.assignedTo"></textarea>
</div>


