<form id="login">
    <div class="form-group">
        <label for="textUserId">User ID</label>
        <input type="email" class="form-control" id="textUserId" placeholder="Enter User ID" ng-model="session.userId" >
    </div>
    <div class="form-group">
        <label for="textPassword">Password</label>
        <input type="password" class="form-control" id="textPassword" placeholder="Password" ng-model="session.password">
    </div>
    <button type="submit" class="btn btn-default" ng-click='login()' >Login</button>
</form>
