<form id="login" name="loginForm" ng-submit="login(session)">
    <div class="form-group" ng-class="{'has-error': !loginForm.textUserId.$valid && loginForm.textUserId.$dirty}">
        <label for="textUserId">User ID</label>
        <input type="email" class="form-control" id="textUserId" name="textUserId" placeholder="Enter User ID" ng-model="session.userId" required >
    </div>
    <div class="form-group" ng-class="{'has-error': !loginForm.textPassword.$valid && loginForm.textPassword.$dirty}">
        <label for="textPassword">Password</label>
        <input type="password" class="form-control" id="textPassword" name="textPassword" placeholder="Password" ng-model="session.password" required >
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="!(loginForm.$valid && loginForm.$dirty)">Login</button>
</form>
