@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Session</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/session")
</body>
</html>